form{
    width: 70%;
    margin: 2rem auto 0 auto;
    text-align: center;
}

.data-finalizar{
    text-align: start;
}

h1{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 3rem;
    color: rgb(54, 53, 53);
}

.form{
    width: 100%;
}

.buttons{
    width: 20%;
    padding-top: 1rem;
    margin-right: 1rem;
    padding-right: 2rem;
    text-align: start;
}